#footer {
    height: auto;
    border-top: 2px solid var(--subBg200);
    padding-left: 52px;

    @media (max-width: 720px) {
       height: 533px;
    }
}

.footer__inner {
    width: 1200px;
    margin: 0 auto;


    @media (max-width: 720px) {
        padding-top: 100px;;
     }
    
    .footer__logo {         
        img {
         width: 150px;   
         padding: 40px 0;     
        }

        @media (max-width: 720px) {
            padding: 0 0 50px 0;
         }
     }

     .footer__familysite {
        float: right;
        height: 50px;
        width: 200px;

        select {
            float: right;
            width: 180px;
            margin-top: 10px;
            margin-right: 51px;
            font-size: 17px;
            padding: 15px 20px;
            background-color: #333333;
        }
     }

     .footer__address {
        // position: relative;
        width: 662px;
            @media (max-width: 720px) {
                width: 720px;
            }
        li {
            display: inline-block;
            font-size: 16px;
            margin: 0 1rem .5rem 0;

            @media (max-width: 720px) {
                font-size: 20px;
                padding-bottom: 10px;
            }

           
            strong {
                padding-right: 10px;
            }
            span {
                padding-right: 10px;
                color: #666666;
            }

            &:nth-child(3){
                letter-spacing: 0.03rem;
            }
            &:nth-child(4){
                letter-spacing: 0.03rem;
            }
        }
     }

     .footer__right {
        padding-bottom: 53px;
        color: #666666;

        @media (max-width: 720px) {
            font-size: 20px;
        }
     }

}