#header {
    @include position-fixed;
    z-index: 10000;
   
}

.header__inner {
    @include flex-between;
    backdrop-filter: blur(15px);
    padding: 18px 35px;
    
    
    .header__logo {
         
       img {
        width: 175px;        
        
       }
    }

    .header__nav {
        li {
            display: inline;

            a {
                font-size: 18px;
                color: var(--white);
                padding: 70px;
            }
        }
    }

    .header__lang {
        width: 50px;        
    }
   
}