#header {
    @include position-fixed;
    z-index: 10000;   
}

.header__inner {
    @include flex-between;
    backdrop-filter: blur(15px);
    padding: 33px 60px;
    height: 135px;
    
    
    .header__logo {
         
       img {
        width: 219px;        
        height: 69px;
       }
    }

    .header__nav {
        @include flex-center;
        width: 1200px;
        ul {
            
            li {
                display: inline;
                padding: 28px 65px;
                
                
                a {
                    font-size: 18px;
                    color: var(--white);                
                }
            }
        }
    }

    .header__lang {
        width: 60px;        
    }
   
}