#introduce {
    height: 1669px;

    @media (max-width:720px) {
        width: 720px;
        margin: 0 auto;
    }


}

.introduce__inner {   
    width: 1200px;
    margin: 0 auto;
    padding: 350px 0 0 52px;

    @media (max-width:720px) {
        width: 720px;
        padding: 0;
    }


    .introduce__text {
        
        p {            
            font-size: 20px;
            color: #2d90d1;
            font-weight: 500;
           
        }

        h1 {                
           font-size: 120px;
           font-weight: 800;
           line-height: 1.3;   

           @media (max-width:720px) {
            font-size: 75px;
        }
        }

        h3 {
            font-size: 30px;

            @media (max-width:720px) {
                font-size: 28px;
            }
        }


    }

}

.introduce__hover {    
    position: relative;
    overflow-x: clip;
    .img {   
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1920px;
        height: 1360px;
        z-index: -1000000000000;

        
        @media (max-width:720px) {
            padding-top: 700px;
            width: 1050px;
            height: 1360px;
            position: relative;
        }
    }

    .introduce__circle {
        width: 1200px;
        margin: 0 auto;
        position: relative;
       
        .circle {            
            
            visibility: visible;
            display: block;
            
            .circle01 {

                width: 320px;
                height: 463px;

                @media (max-width:720px) {
                    width: 197px;
                    height: 280px;
                    position: absolute;
                    right: 81%;
                    bottom: 936px;
                }
    
    
                img {
                &:nth-child(1) {
                    transform: translateZ(100px);
                    -webkit-transform: translateZ(100px);
                    -webkit-transition: opacity .8s, -webkit-transform .5s ease-in-out;
                    transition: opacity .8s, transform .5s ease-in-out;
                    }
    
                &:nth-child(2){
                    transform: translateY(-100%) translateZ(-100px) rotateY(-180deg);
                    -webkit-transform: translateY(-100%) translateZ(-100px) rotateY(-180deg);
                    -webkit-transition: -webkit-transform .5s ease-in-out;
                    transition: transform .5s ease-in-out;
                    opacity: 0;
                    }
                }
            }
            .circle01_logo {
                position: absolute;
                top: 50px;
                left: 20%;
                width: 215px;
                height: 215px;

                @media (max-width:720px) {
                    width: 107px;
                    height: 107px;
                    left: 15%;
                    top: -1179px;
                }
            }
            .circle02 {
                position: absolute;
                bottom: -49%;
                left: 26%;
                width: 245px;
                height: 275px;
                z-index: 100;

                @media (max-width:720px) {
                    width: 200px;
                    height: 222px;
                    bottom: 687px;
                    left: 34%;
                }

                img {
                    &:nth-child(1) {
                        transform: translateZ(100px);
                        -webkit-transform: translateZ(100px);
                        -webkit-transition: opacity .8s, -webkit-transform .5s ease-in-out;
                        transition: opacity .8s, transform .5s ease-in-out;
                        }
        
                    &:nth-child(2){
                        transform: translateY(-100%) translateZ(-100px) rotateY(-180deg);
                        -webkit-transform: translateY(-100%) translateZ(-100px) rotateY(-180deg);
                        -webkit-transition: -webkit-transform .5s ease-in-out;
                        transition: transform .5s ease-in-out;
                        opacity: 0;
                        }
                    }
            }
            .circle02_logo {
                position: absolute;
                bottom: -60%;
                left: 19%;
                width: 142px;
                height: 142px;

                @media (max-width:720px) {
                    width: 98px;
                    height: 98px;
                    bottom: 800px;
                    left: 29.5%;
                    z-index: 100;
                }
            }

            .circle03 {
                position: absolute;
                top: -24%;
                right: -5%;
                width: 323px;
                height: 745px;
                z-index: 100;

                @media (max-width:720px) {
                    width: 265px;
                    height: 315px;
                    right: 74%;
                    top: -890px;
                }

                img {
                    &:nth-child(1) {
                        transform: translateZ(100px);
                        -webkit-transform: translateZ(100px);
                        -webkit-transition: opacity .8s, -webkit-transform .5s ease-in-out;
                        transition: opacity .8s, transform .5s ease-in-out;
                        }
        
                    &:nth-child(2){
                        transform: translateY(-100%) translateZ(-100px) rotateY(-180deg);
                        -webkit-transform: translateY(-100%) translateZ(-100px) rotateY(-180deg);
                        -webkit-transition: -webkit-transform .5s ease-in-out;
                        transition: transform .5s ease-in-out;
                        opacity: 0;
                        }
                    }
            }
            .circle03_logo {
                position: absolute;
                top: -28%;
                right: 14%;
                width: 242px;
                height: 242px;

                @media (max-width:720px) {
                    width: 90px;
                    height: 90px;
                    right: 68%;
                    top: -640px;
                }
            }
            .circle04 {
                position: absolute;
                bottom: -75%;
                right: 0;
                width: 328px;
                height: 519px;

                @media (max-width:720px) {
                    width: 326px;
                    height: 527px;
                    right: 46%;
                    bottom: 853px;
                    z-index: 100;
                }

                img {
                    &:nth-child(1) {
                        transform: translateZ(100px);
                        -webkit-transform: translateZ(100px);
                        -webkit-transition: opacity .8s, -webkit-transform .5s ease-in-out;
                        transition: opacity .8s, transform .5s ease-in-out;
                        }
        
                    &:nth-child(2){
                        transform: translateY(-100%) translateZ(-100px) rotateY(-180deg);
                        -webkit-transform: translateY(-100%) translateZ(-100px) rotateY(-180deg);
                        -webkit-transition: -webkit-transform .5s ease-in-out;
                        transition: transform .5s ease-in-out;
                        opacity: 0;
                        }
                    }

            }
            .circle04_logo {
                position: absolute;
                bottom: -18%;
                right: 24%;
                width: 172px;
                height: 172px;

                @media (max-width:720px) {
                    width: 100px;
                    height: 100px;
                    right: 66%;
                    bottom: 1162px;
                    
                }
            }
        }

    }


}